{{>header}}


<form  method="post">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error">{{email}}</div>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="email error">{{password}}</div>
    <button>login</button>
</form>
{{>footer}}

{{>footer}}